@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?74e38f');
  src:  url('fonts/icomoon.eot?74e38f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?74e38f') format('truetype'),
    url('fonts/icomoon.woff?74e38f') format('woff'),
    url('fonts/icomoon.svg?74e38f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-android:before {
  content: "\eac0";
}
.icon-yelp:before {
  content: "\ead7";
}
